{% load static %}
{% load filtros %}

<div class="row">
    <div class="col">
        {% if pedido.status == 'Aprovado' and pagamento == 'CREDIT_CARD' %}
            <h3 class="text-center mb-4">{{ pedido }} foi aprovado.</h3>
            <hr>

            <div class="row mt-4">
                <div class="col-lg-2 font-weight-bold">Número do pedido:</div>
                <div class="col-lg-4">{{ pedido.id }}</div>
                <div class="col-lg-2 font-weight-bold">QTD. Itens:</div>
                <div class="col-lg-4">{{ pedido.qtd_total }}</div>
                <div class="col-lg-2 font-weight-bold">Id da compra:</div>
                <div class="col-lg-4">{{ ordem_id }}</div>
                <div class="col-lg-2 font-weight-bold">Status:</div>
                <div class="col-lg-4">{{ pedido.get_status_display }}</div>
                <div class="col-lg-2 font-weight-bold">Método pagamento:</div>
                <div class="col-lg-4">{{ pagamento }}</div>
            </div>
            <hr>
            <div class="row mt-4">
                <div class="col">
                    <h3>Produtos</h3>
                </div>
            </div>

            <div class="table-responsive mt-3">
                <table class="table">
                    <tr>
                        <th class="d-none d-lg-block">Imagem</th>
                        <th>Produto</th>
                        <th>V.</th>
                        <th>QTD.</th>
                    </tr>

                    {% for linha in pedido.itempedido_set.all %}
                    <tr>
                        <td class="d-none d-lg-block">
                            <img class="cart-img" src="{% get_media_prefix %}{{ linha.imagem }}">
                        </td>
                        <td>{{ linha.produto }}</td>
                        <td>{{ linha.variacao }}</td>
                        <td>{{ linha.quantidade }}</td>
                    </tr>
                    {% endfor %}

                </table>
            </div>
        {% elif pedido.status == 'Aprovado' and pagamento == 'BOLETO' %}
            <h3 class="text-center mb-4">
                {{ pedido }} foi aprovado. <br>
                Aguardando pagamento.
            </h3>
            <hr>

            <div class="row mt-4">
                <div class="col-lg-2 font-weight-bold">Número do pedido:</div>
                <div class="col-lg-4">{{ pedido.id }}</div>
                <div class="col-lg-2 font-weight-bold">QTD. Itens:</div>
                <div class="col-lg-4">{{ pedido.qtd_total }}</div>
                <div class="col-lg-2 font-weight-bold">Id da compra:</div>
                <div class="col-lg-4">{{ ordem_id }}</div>
                <div class="col-lg-2 font-weight-bold">Status:</div>
                <div class="col-lg-4">{{ pedido.get_status_display }}</div>
                <div class="col-lg-2 font-weight-bold">Método pagamento:</div>
                <div class="col-lg-4">{{ pagamento }}</div>
            </div>
            <hr>
            <div class="row mt-4">
                <div class="col">
                    <h3>Produtos</h3>
                </div>
            </div>

            <div class="table-responsive mt-3">
                <table class="table">
                    <tr>
                        <th class="d-none d-lg-block">Imagem</th>
                        <th>Produto</th>
                        <th>V.</th>
                        <th>QTD.</th>
                    </tr>

                    {% for linha in pedido.itempedido_set.all %}
                    <tr>
                        <td class="d-none d-lg-block">
                            <img class="cart-img" src="{% get_media_prefix %}{{ linha.imagem }}">
                        </td>
                        <td>{{ linha.produto }}</td>
                        <td>{{ linha.variacao }}</td>
                        <td>{{ linha.quantidade }}</td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
            <hr>
            <a href="{{ link_boleto }}" target="_blank" class="btn btn-primary btn-lg">
                Clique aqui para segunda via do boleto
            </a>
        
        {% elif pedido.status == 'Aprovado' and pagamento == 'PIX' %}
            <h3 class="text-center mb-4">
                {{ pedido }} foi aprovado. <br>
                Aguardando pagamento.
            </h3>
            <hr>

            <div class="row mt-4">
                <div class="col-lg-2 font-weight-bold">Número do pedido:</div>
                <div class="col-lg-4">{{ pedido.id }}</div>
                <div class="col-lg-2 font-weight-bold">QTD. Itens:</div>
                <div class="col-lg-4">{{ pedido.qtd_total }}</div>
                <div class="col-lg-2 font-weight-bold">Id da compra:</div>
                <div class="col-lg-4">{{ ordem_id }}</div>
                <div class="col-lg-2 font-weight-bold">Status:</div>
                <div class="col-lg-4">{{ pedido.get_status_display }}</div>
                <div class="col-lg-2 font-weight-bold">Método pagamento:</div>
                <div class="col-lg-4">{{ pagamento }}</div>
            </div>
            <hr>
            <div class="row mt-4">
                <div class="col">
                    <h3>Produtos</h3>
                </div>
            </div>

            <div class="table-responsive mt-3">
                <table class="table">
                    <tr>
                        <th class="d-none d-lg-block">Imagem</th>
                        <th>Produto</th>
                        <th>V.</th>
                        <th>QTD.</th>
                    </tr>

                    {% for linha in pedido.itempedido_set.all %}
                    <tr>
                        <td class="d-none d-lg-block">
                            <img class="cart-img" src="{% get_media_prefix %}{{ linha.imagem }}">
                        </td>
                        <td>{{ linha.produto }}</td>
                        <td>{{ linha.variacao }}</td>
                        <td>{{ linha.quantidade }}</td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
            <hr>
            <!-- Botão para visualizar QR Code -->
            <button id="view-qrcode" class="btn btn-primary btn-lg mt-3 mb-2">
                Clique aqui para visualizar o seu QR Code
            </button>
            <br>
            <!-- Botão para exibir o código de pagamento -->
            <button id="show-payment-code" class="btn btn-primary btn-lg mb-3">
                Clique aqui para exibir o código de pagamento
            </button>

            <!-- Área para exibir o código de pagamento -->
            <div id="payment-code-area" style="display: none;">
                <hr>
                <h5>Copie o código de pagamento abaixo:</h5>
                <div class="input-group mb-3">
                    <input id="payment-code" type="text" class="form-control" readonly>
                    <button id="copy-payment-code" class="btn btn-primary ml-1">Copiar</button>
                </div>
            </div>

            <!-- Modal para exibir o QR Code -->
            <div class="modal" id="qrcode-modal">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Utilize o leitor da câmera</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <img id="qrcode-image" src="{{ qrcode_url }}" alt="QR Code" class="img-fluid">
                        </div>
                    </div>
                </div>
            </div>

            <script>
                // Evento de clique para visualizar o QR Code
                document.getElementById('view-qrcode').addEventListener('click', function() {
                    // Exibir o modal
                    var modal = new bootstrap.Modal(document.getElementById('qrcode-modal'));
                    modal.show();
                });

                // Evento de clique para exibir o código de pagamento
                document.getElementById('show-payment-code').addEventListener('click', function() {
                    // Exibir a área com o código de pagamento
                    document.getElementById('payment-code-area').style.display = 'block';
                    // Exibir o código de pagamento
                    document.getElementById('payment-code').value = "{{ qrcode_text }}";
                });

                // Evento de clique para copiar o código de pagamento
                document.getElementById('copy-payment-code').addEventListener('click', function() {
                    // Selecionar o campo de texto com o código de pagamento
                    var paymentCode = document.getElementById('payment-code');
                    // Selecionar e copiar o texto do campo de texto
                    paymentCode.select();
                    document.execCommand('copy');
                    // Alerta indicando que o código foi copiado
                    alert("Código de pagamento copiado para a área de transferência!");
                });
            </script>
        {% else %}
            <h3>{{ pedido }}</h3>

        <div class="row mt-4">
            <div class="col-lg-2 font-weight-bold">Número do pedido:</div>
            <div class="col-lg-4">{{ pedido.id }}</div>
            <div class="col-lg-2 font-weight-bold">Total a pagar:</div>
            <div class="col-lg-4">{{ pedido.total|formata_preco }}</div>

            <div class="col-lg-2 font-weight-bold">QTD. Itens:</div>
            <div class="col-lg-4">{{ pedido.qtd_total }}</div>
            <div class="col-lg-2 font-weight-bold">Status:</div>
            <div class="col-lg-4">{{ pedido.get_status_display }}</div>
        </div>

        <div class="row mt-4">
            <div class="col">
                <h3>Produtos</h3>
            </div>
        </div>

        <div class="table-responsive mt-3">
            <table class="table">
                <tr>
                    <th class="d-none d-lg-block">Imagem</th>
                    <th>Produto</th>
                    <th>V.</th>
                    <th>QTD.</th>
                    <th>Total</th>
                </tr>

                {% for linha in pedido.itempedido_set.all %}
                <tr>
                    <td class="d-none d-lg-block">
                        <img class="cart-img" src="{% get_media_prefix %}{{ linha.imagem }}">
                    </td>
                    <td>{{ linha.produto }}</td>
                    <td>{{ linha.variacao }}</td>
                    <td>{{ linha.quantidade }}</td>
                    <td>
                        {% if linha.preco_promocional %}
                        {{ linha.preco_promocional|formata_preco }}
                        {% else %}
                        {{ linha.preco|formata_preco }}
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}

            </table>
        </div>

        {% endif %}
    </div>
</div>